<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>

  <body>
    <div class="container_single">
      <h2>Event Planning Application</h2>

      <form
        action="/create"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <input
          name="event_name"
          type="text"
          placeholder="Event"
          autocomplete="off"
        />
        <input
          name="event_date"
          type="text"
          placeholder="Event date"
          autocomplete="off"
        />
        <button type="submit">Create</button>
      </form>
    </div>

    <div class="events">
      <h2>All events</h2>
      <% allEvents.map(e=> { %>
      <div class="event" , data-event-id="<%= e.id %>">
        <div class="event-name">
          <p><%= e.event_name %></p>
          <input
            type="text"
            class="edit-input"
            value="<%= e.event_name %>"
            style="display: none"
          />
        </div>
        <div class="event-date">
          <p><%= e.event_date %></p>
          <input
            type="text"
            class="edit-input"
            value="<%= e.event_date %>"
            style="display: none"
          />
        </div>
        <div>
          <button class="edit-button">Edit</button>
          <button class="save-button" style="display: none">Save</button>
        </div>
        <div>
          <button class="delete-button">Delete</button>
        </div>
      </div>
      <% }) %>
    </div>

    <div class="container_single admin">
      <h1>
        This web application was created to fulfill Web Technology module’s
        requirements and does not represent an actual company or service
      </h1>
    </div>
    <script src="/assets/main.js"></script>
  </body>
</html>
